<div class="list">
  <% if @stations == nil %>
    <% elsif @stations.length != 0 %>
      <table>
        <tr>
          <th>Name</th>
          <th>Free_bikes</th>
          <th>Empty_slots</th>
        </tr>

        <% @stations.each do |station| %> 
          <tr>
            <td><%= station.name%> </td>
            <td><%= station.free_bikes%> </td>
            <td><%= station.empty_slots%> </td>
          </tr>
        <%end%>
    </table>
    <% else%>
    Wrong address
  <% end %>
</div>

<script>
<% if @stations == nil%>
var map = L.map('mapid').setView([48.8564263, 2.35252757801161], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
 <% else %>
  <% @stations.each do |station|%>
  L.marker([<%= station.latitude%>, <%= station.longitude%>]).addTo(map)
		.bindPopup("<b>Take a ride</b><br/><%=station.name%>.").openPopup();
    <%end%>

  L.circle([<%= @latitude%>, <%= @longitude%>], 500, {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.4
	}).addTo(map);
  <%end%>
</script>

